/*STYLEZZZZZZZZZ*/

html, body, header, #intro {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #111;
}

#intro {
    background: url("https://media1.popsugar-assets.com/files/thumbor/mO5MYGmyqQ72JS3WS-DAnOp3x70/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2017/11/04/979/n/43374309/8aa9d123dbb982b2_11361194135_1a96ddebbb_o/i/New-Mexico-Sandia-Mountains.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#outro {
    background: url("https://images.pexels.com/photos/34107/milky-way-stars-night-sky.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    border-radius: 5px;
    border-radius: 5px;box-shadow: 0px 0px 10px 3px black;
}

.bg-transparent-dark-outro {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;box-shadow: 0px 0px 10px 3px black;
}

hr {
    background: white;
}

.navbar, .page-footer {
    background-color: #111;
}

.nav-link {
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

.nav-link:hover {
    color: gray;
}

.fa-github, .fa-linkedin {
    font-size: 2.5rem;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}

#carousel-2 {
    color: white;
    background-color: #111;
}

#carousel-2 h2 {
    font-weight: 300;
    text-transform: uppercase;
    padding: 40px 0;
}

.carousel-caption {
    background: orange;
    color: #111;
    font-size: 1.1em;
    height: 400px;
    margin: 0 0 0 -15px;
    padding: 30px;
    position: static;
    text-align: left;
}

.img-wrapper img {
    height: 400px;
    position: static;
}

.carousel-inner {
    transition: opacity 1s;
}