/*STYLEZZZZZZZZZ*/

html, body, header, #intro {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #343a40;
}

#intro {
    background: url("https://media1.popsugar-assets.com/files/thumbor/mO5MYGmyqQ72JS3WS-DAnOp3x70/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2017/11/04/979/n/43374309/8aa9d123dbb982b2_11361194135_1a96ddebbb_o/i/New-Mexico-Sandia-Mountains.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#outro {
    background: url("https://images.pexels.com/photos/34107/milky-way-stars-night-sky.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.bg-transparent-dark {
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    border-radius: 5px;
    border-radius: 5px;box-shadow: 0px 0px 10px 3px black;
}

.bg-transparent-dark-outro {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;box-shadow: 0px 0px 10px 3px black;
}

hr {
    background: white;
}

.nav-link {
    text-transform: uppercase;
    font-size: 15px;
    color: white;
}

.nav-link:hover {
    color: gray;
}

.fa-github, .fa-linkedin {
    font-size: 2.5rem;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

#carousel-2 {
    color: white;
    background-color: black;
}

#carousel-2 h2 {
    padding-bottom: 400px;
}